body {
    font-family: WhimsyTT;
    background-color: rgb(32, 0, 116);
    color: rgb(225, 230, 0);
}

#main {
    overflow: auto;
}

#game {
    width: 35vw;
    height: 35vw;
    border: solid black 0.25vw;
    position: absolute;
    left: 10px;
    /* background: url('assets/board.png');
    background-repeat: no-repeat;
    background-size: cover; */
}

#info {
    width: 60.2vw;
    height: 35vw;
    border: solid black 0.25vw;
    position: absolute;
    left: 37vw;
}

#remainingPieces {
    width: 97vw;
    height: 23vh;
    border: solid black 0.25vw;
    position: absolute;
    top: 37vw;
}

#chat {
    width: 21.7vw;
    height: 33.5vw;
    border: solid black 0.25vw;
    position: absolute;
    right: 0.5vw;
    top: 0.5vw;
}

#currentPiece {
    width: 16vw;
    height: 16vw;
    border: solid black 0.25vw;
    position: absolute;
    left: 0.5vw;
    bottom: 0.5vw;
}

#playerList {
    width: 16vw;
    height: 33.5vw;
    border: solid black 0.25vw;
    position: absolute;
    left: 19vw;
    top: 0.5vw;
}

#changeName {
    width: 16vw;
    height: 16vw;
    border: solid black 0.25vw;
    position: absolute;
    left: 0.5vw;
    top: 0.5vw;
}

#gameName {
    position: absolute;
    transform: rotate(-25deg);
    left: 1.5vw;
    font-size: 2vw;
    text-align: center;
}

#mainContainer {
    width: 25%;
    height: 35vw;
    position: absolute;
    left: 37.5%;
}

#chatArea {
    width: 90%;
    margin-left: 5%;
    height: 80%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: white;
    font-size: 16px;
    resize: none;
    font-family: arial;
    color: black;
    overflow-wrap: break-word;
    overflow-y: scroll;
}

.button {
    font-family: WhimsyTT;
    display: block;
    margin: 0 auto;
    margin-top: 5%;
    width: 50%;
    height: 30px;
    background-color: rgb(225, 230, 0);
    border: solid black 1px;
    border-radius: 20px;
}

input:not(.button) {
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;
    height: 5%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
    font-family: arial;
    color: black;
}

img {
    position: absolute;
    opacity: 0.8;
}

img:hover {
    opacity: 1;
}

@font-face {
    font-family: 'WhimsyTT';
    src: url('assets/WhimsyTT.ttf');
}
